/*Global*/

*, *::before, *::after {
  box-sizing: border-box; 
  }

/*splash*/
.splash {
    background-image: url('https://i.postimg.cc/pTRDTtry/Background-Image.png');
    background-position: center center;
    background-size: cover;
    height: 881px;
    }
.splash .container {
  margin-right: auto;
}
.splash .row {
   display: flex;
   justify-content: space-between;
    }
.splash-inner {
   padding: 96px 96px;
   margin: 0;
  }
.splash .col-md-4 h4 {
  font-size: 26px;
  font-family: "Wisdom";
  color: rgb(254, 209, 54);
  font-style: italic;
  padding-left: 100px;
}
.splash .menu {
  padding: 15px 0 15px 15px;
}
.menu li {
  display: inline-block;
  padding: 4px;
  }
.menu a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  }
.page-title {
  font-size: 40px;
  font-family: "Droid Serif";
  color: white;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 5px;
  }
.subtitle {
  font-size: 75px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
}
.button {
    width: 235px;
    height: 65px;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-color: rgb(254, 209, 54);
    border-color: rgb(254, 209, 54);
    text-align: center;
    padding-top: 20px;
    opacity: 0.502;
    margin: 0 auto;
    }
.button a {
  color: white;
  text-decoration: none;
}
/*services*/
.col h3 {
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.875;
  text-align: center;
  margin: 0;
  color: rgb(34, 34, 34);
  }
.col p {
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  color: rgb(119, 119, 119);
  }
.col {
  margin: 60px 0;
  }
.services .col-md-4 {
  text-align: center;
}
.services i {
  width: 75px;
  height: 75px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 65px;
    background-color: white;
    border: 2px solid rgb(254, 209, 54);
    color: rgb(254, 209, 54);
    }
.services .container {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    }
.icons {
    padding: 5px 5px;
    }
.icons p {
  padding: 0 22px;
  font-size: 14px;
  font-family: "Roboto Slab";
  color: rgb(119, 119, 119);
  line-height: 1.2;
}
.icons h4 {
  font-family: "Montserrat";
}
/*our-portfolio*/

.images-description h4 {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  }

.images-description p {
  font-size: 14px;
  font-family: "Droid Serif";
  color: rgb(115, 115, 115);
  font-style: italic;
  line-height: 1.2;
  text-align: center;  
  padding: 0;
  margin: 0;
}
.col-lg-4 {
margin-bottom: 90px;
}

/*footer*/
footer .col-md-4 {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(85, 85, 85);
  line-height: 1.571;
  text-align: left;
  }
.list-inline-item i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40px;
    background-color: black;
    border: 2px solid black;
    color: white;
    }
.list-inline-item {
  list-style-type: none;
  padding: 5px;
  }
  footer .list-inline {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0 65px;
  }
  footer h6 {
    margin-bottom: 5px;
    text-align: left;
    padding-left: 30px;
  }

